name: Run Kong Manage Tests with Mochawesome Report

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install
      - name: Make Cypress executable
        run: chmod +x node_modules/.bin/cypress
      - name: verify cypress
        run: npx cypress verify
      - name: Run Cypress tests with mochawesome
        run: |
          npx cypress run --reporter mochawesome --reporter-options reportDir=cypress/reports,overwrite=false,html=true,json=true

      - name: Merge JSON reports and generate final HTML
        run: |
          npx mochawesome-merge cypress/reports/*.json > cypress/reports/report.json
          npx marge cypress/reports/report.json -f index -o cypress/reports/html

      - name: Upload HTML report as artifact
        uses: actions/upload-artifact@v4
        with:
          name: cypress-html-report
          path: cypress/reports/html

      - name: Upload screenshots on failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: cypress-screenshots
          path: cypress/screenshots

      - name: Upload videos
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: cypress-videos
          path: cypress/videos
